<!-- The Modal -->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <div class="modal-header">
      <span  class="close">&times;</span>
      <h3><small>Select Category</small></h3>
    </div>
    <div class="modal-body">

      <div class="row">
        <div class="col-sm-2"> 

          <a ui-sref="list">
            <div class="form-category">
              <img src= <%= image_url('car.svg') %>  width="50" height="50">
              <span>Cars</span>
            </div>
          </a>
        </div>

        <div class="col-sm-2">        
          <a href="#">
            <div class="form-category">
              <img src= <%= image_url('car.svg') %>  width="50" height="50">
              <span>Cars</span>
            </div>
          </a>
        </div>

        <div class="col-sm-2">        
          <a href="#">
            <div class="form-category">
              <img src= <%= image_url('car.svg') %>  width="50" height="50">
              <span>Cars</span>
            </div>
          </a>
        </div>

        <div class="col-sm-2">        
          <a href="#">
            <div class="form-category">
              <img src= <%= image_url('car.svg') %>  width="50" height="50">
              <span>Cars</span>
            </div>
          </a>
        </div>

        <div class="col-sm-2">        
          <a href="#">
            <div class="form-category">
              <img src= <%= image_url('car.svg') %>  width="50" height="50">
              <span>Cars</span>
            </div>
          </a>
        </div>

        <div class="col-sm-2">        
          <a href="#">
            <div class="form-category">
              <img src= <%= image_url('car.svg') %>  width="50" height="50">
              <span>Cars</span>
            </div>
          </a>
        </div>

        <div class="col-sm-2">        
          <a href="#">
            <div class="form-category">
              <img src= <%= image_url('car.svg') %>  width="50" height="50">
              <span>Cars</span>
            </div>
          </a>
        </div>

        <div class="col-sm-2">        
          <a href="#">
            <div class="form-category">
              <img src= <%= image_url('car.svg') %>  width="50" height="50">
              <span>Cars</span>
            </div>
          </a>
        </div>

        <div class="col-sm-2">        
          <a href="#">
            <div class="form-category">
              <img src= <%= image_url('car.svg') %>  width="50" height="50">
              <span>Cars</span>
            </div>
          </a>
        </div>

        <div class="col-sm-2">        
          <a href="#">
            <div class="form-category">
              <img src= <%= image_url('car.svg') %>  width="50" height="50">
              <span>Cars</span>
            </div>
          </a>
        </div>

        <div class="col-sm-2">        
          <a href="#">
            <div class="form-category">
              <img src= <%= image_url('car.svg') %>  width="50" height="50">
              <span>Cars</span>
            </div>
          </a>
        </div>

        <div class="col-sm-2">        
          <a href="#">
            <div class="form-category">
              <img src= <%= image_url('car.svg') %>  width="50" height="50">
              <span>Cars</span>
            </div>
          </a>
        </div>
      </div>

    </div>
  </div>
</div>