<div class="row">
<div class="col-sm-1"></div>

<div class="col-sm-10">

<div class="well" id="searchbox">
        <div class="row">
    <div class="col-xs-4">
      <div class="inner-addon left-addon">
        <span class="glyphicon glyphicon-map-marker" style="color:grey"></span>
      <input type="text" class="form-control" placeholder="All Nepal">
</div>

    </div>
    <div class="col-xs-6">
      <input type="text" class="form-control" placeholder=".col-xs-3">
    </div>
    <div class="col-xs-2">
      <button type="submit" class="btn btn-primarybtn-md">Submit</button>
    </div>
  </div>
  </div>
  </div>

  <div class="col-sm-1"></div>
	</div>

<div class="row">
  
    <div class="col-sm-1">
      
    </div>

    <div class="col-sm-6" id="categories">
    
      <div class="row" id="row1">
        <div class="col-sm-3 grid">        
          <a href="#">
            <div class="category-tile">
              <img src= <%= image_url('car.svg') %>  width="50" height="50">
              <span>Cars</span>
            </div>
          </a>
        </div>
        <div class="col-sm-3 grid">        
          <a href="#">
            <div class="category-tile">
              <img src=<%= image_url('real_state.svg') %> width="50" height="50">
              <span>Real State</span>
            </div>
          </a>
        </div>
          <div class="col-sm-3 grid">        
          <a href="#">
            <div class="category-tile">
              <img src=<%= image_url("mobiles.png") %> width="50" height="50">
              <span>Mobiles</span>
            </div>
          </a>
        </div>
        <div class="col-sm-3 ">        
          <a href="#">
            <div class="category-tile ">
              <img src=<%= image_url("computer.svg") %> width="50" height="50">
              <span >Electronics &amp Appliances</span>
            </div>
          </a>
        </div>
        </div>

      <div class="row" id="row2">
        <div class="col-sm-3 grid">        
          <a href="#">
            <div class="category-tile">
              <img src=<%= image_url("reunion.svg") %> width="50" height="50">
              <span>Jobs</span>
            </div>
          </a>
        </div>
        <div class="col-sm-3 grid">        
          <a href="#">
            <div class="category-tile">
              <img src=<%= image_url("motor-sports.svg") %> width="50" height="50">
              <span>Bikes</span>
            </div>
          </a>
        </div>
          <div class="col-sm-3 grid">        
          <a href="#">
            <div class="category-tile">
              <img src=<%= image_url("furniture.svg") %> width="50" height="50">
              <span>Furniture</span>
            </div>
          </a>
        </div>
        <div class="col-sm-3 ">        
          <a href="#">
            <div class="category-tile">
              <img src=<%= image_url("graduation.svg") %> width="50" height="50">
              <span>Books, Sports &amp Hobbies</span>
            </div>
          </a>
        </div>
        </div>

        <div class="row" id="row3">
        <div class="col-sm-3 grid">        
          <a href="#">
            <div class="category-tile">
              <img src=<%= image_url("shirt.svg") %>  width="50" height="50">
              <span>Fashion</span>
            </div>
          </a>
        </div>
        <div class="col-sm-3 grid">        
          <a href="#">
            <div class="category-tile">
              <img src=<%= image_url("dog.svg") %>  width="50" height="50">
              <span>Pets</span>
            </div>
          </a>
        </div>
          <div class="col-sm-3 grid">        
          <a href="#">
            <div class="category-tile">
              <img src=<%= image_url("wrench.svg") %>  width="50" height="50">
              <span>Services</span>
            </div>
          </a>
        </div>
        <div class="col-sm-3 ">        
          <a href="#">
            <div class="category-tile">
              <img src="" >
              <span class="text-center"></span>
            </div>
          </a>
        </div>
        </div>
      </div> 

 <div class="col-sm-5">
      
    </div>

   
</div> 

<div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-10">        
      <latest-ads></latest-ads>
    </div>
    
</div>
